header{
    background-color: gray;
    padding: 0px;
    margin: -8px;
    height: 200px;
}
nav{
margin-top: -30px;

}
nav, a{
    padding-right: 10px;
    text-decoration: none;
    color: black;
     font-weight: bolder;
}
*{
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bolder;
}
main, h1{
    text-align: center;
}
section#site1{
    text-align: right;
}
img{
    
    width: 200px;
    height: 200px;
}