header{
    background-color: gray;
    padding: 0px;
    margin: -8px;
    
}
nav{
margin-top: -30px;

}
nav, a{
    padding-right: 10px;
    text-decoration: none;
    color: black;
     font-weight: bolder;
}
*{
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bolder;
}
body{
   background-color: gray;
}
section{
    background-color: white;
    
    min-height: 85vh;
    max-width: 1100px;
    margin: 2px;
    margin: 54px auto;
    
    min-width: 85vw;
}