
header{
    background-color: gray;
    padding: 0px;
    margin: -8px;
    
}
nav{
margin-top: -30px;

border: solid 1px black;
height: 40px;
padding: 10px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;


}
nav, a{
    padding-top: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
     
    
}
*{
    font-family: Rubik, Arial, Helvetica, sans-serif;  
   
}
body{
   background-color: #2563eb;
}
section#Principal{
    background-color: rgb(250, 250, 250);
    
    min-height: 85vh;
    max-width: 1100px;
    margin: 2px;
    margin: 54px auto;
    
    min-width: 85vw;
    border-radius: 15px;
    box-shadow: 2px 2px 9px black;
}
.link1{
    
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    padding-left: 40px;
    padding-right: 40px;
    
}
.link1:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.062);
color: #2563eb;
background-color: #ffffff;

}
 main, h1{
text-align: center;
}
section.card1{
    display: flex;
    position: relative;
    background-color: white;
    flex-direction: column;
    width:  15vw;
   min-height:  250px;
   margin-left: 10px;
    padding: 50px;
border-radius: 10px;
box-shadow: 2px 2px 9px black;
box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.199);
}
section.card2{
    background-color: rgb(255, 255, 255);
    position: relative;
    width:  15vw;;
   min-height: 250px;
     display: flex;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px black;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.199);
    flex-direction: column;
    
}
section.card3{
    position: relative;
    background-color: white;
    padding: 50px;
   width:  15vw;
    min-height:  250px;
    margin-right: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.199);
    flex-direction: column;
    
}
#botao1{
    
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    padding-left: 40px;
    padding-right: 40px;
    
}
.end{
    position: static;
margin-bottom: 10px;
margin-top: auto;
white-space: nowrap;
align-items: stretch;
}

.end2{
    position: static;
margin-bottom: 10px;
margin-top: auto;
white-space: nowrap;
align-items: stretch;
}
.end3{
    position: static;
margin-bottom: 10px;
margin-top: auto;
white-space: nowrap;
}

main{
    margin-right: 10px;
}
#secs{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: stretch;

}
@media (max-width:800px) {
    #secs {
        flex-direction: column;
        align-items: center; 
        
    }
        section.card1 {
        margin-left: 0px;
        width: 35vw;
        }
            section.card2 {
        margin-left: 0px;
        width: 35vw;
            }
                section.card3 {
        margin-left: 0px;
        width: 35vw;
                }
}
@media (min-width:1920px) {
    nav, a{
        font-size: larger;

    }
    section.card1 {
        margin-left: 0px;
        height: 40vh;
        }
            section.card2 {
        margin-left: 0px;
        height: 40vh;
            }
                section.card3 {
        margin-left: 0px;
        height: 40vh;
                }
}

